.App {
  border: 1px solid #4c4747;
  padding: 10px;
  width: 26em;
  margin: 1em auto;
  border-radius: 7px;
  background-color: #80808036;
}

.quiz-heading {
  text-align: center;
}

.question-no{
  text-align: end;
}
.bnts {
  /* display: flex ; */
  /* gap: 20px; */
  /* justify-content: space-between ; */
}

.btns>button {
  border: none;
  background-color: #ff8c00;
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
  color: #000000d9;
  margin: 0 3px;
}

.btns>button:hover {
  background-color: #ea8509;
  color: #000;
}

.quiz-end {
  text-align: center;
}